@font-face {
  font-family: "Inter medium";
  src: url(../assets/Fonts/Inter_28pt-Medium.ttf);
}
@font-face {
  font-family: "Semi bold";
  src: url(../assets/Fonts/Inter_28pt-SemiBold.ttf);
}

@font-face {
  font-family: "Extra bold";
  src: url(../assets/Fonts/Inter_28pt-ExtraBold.ttf);
}
@font-face {
  font-family: "Regular";
  src: url(../assets/Fonts/Inter_28pt-Regular.ttf);
}
@font-face {
  font-family: "Bold";
  src: url(../assets/Fonts/Inter_28pt-Bold.ttf);
}
.inter-medium {
  font-family: "Inter medium";
}
.inter-regular {
  font-family: " Regular";
}

.inter-semibold {
  font-family: "Semi bold";
}

.inter-extrabold {
  font-family: "Extra bold";
}
.inter-bold {
  font-family: "Bold";
}

body {
  background: #ffffff;
  /* margin: 0rem 6.84rem 0rem 6.84rem; */
}


.navbar {
  height: 5rem;
  background: #ffffff;
  height: 80px;
  bottom: 0;
}

.navbar {
 
  .nav-item{
    a{
      font-size: 1rem;
      color: #0B0D14;
    }
  }
  .mybtn {
    font-size: 1rem;
    color: #0e0d0d;
    width: 13.375rem;
    height: 2.75rem;
    border-radius: 1rem;
    background: #fec545;
    border: none;
  }
  li a img {
    width: 1.25rem;
    height: 1.25rem;
  }
}

/* ---------------------------OUR VALUES--------------------------------------- */
.services {
  height: 14.75rem;
  background: url(../images/BG3.png);
  align-items: center;
  display: flex;
  margin-block-start: 6rem;
  justify-content: center;
  align-content: center;
  text-align: center;

  .servicesContent {
    color: #ffffff;
    width: 43.375rem;
    height: 19.3125rem;

    h2 {
      height: 4.125rem;
      font-size: 3.625rem;
      width: 50.875rem;
    }

    p {
      font-size: 1rem;
      width: 33rem;
    }
  }
}

/* --------------------LEADERSHIP LESSON---------------------- */

.leadershipLesson {
  .eightMin {
    font-size: 0.75rem;
    color: #1b1822;
    background: #4ee1f1;
    width: 9.1875rem;
    height: 1.675rem;
    border-radius: 1rem;
    margin-block-end: 1rem;

    .product {
      width: 3.875rem;
      height: 1.375rem;
      background: #ffffff;
      border-radius: 1rem;
    }
  }

  h2 {
    font-size: 3rem;
    width: 48rem;
    color: #191d26;
    margin-block-end: 1.5rem;
  }

  p {
    width: 48rem;
    color: #475569;
    font-size: 1.25rem;
  }
}

.myPhoto {
  gap: 2rem;

  .bottomTop {
    .pTags {
      gap: 7.5rem;

      p {
        color: #b77e00;
        font-size: 0.875rem;
        /* width: 4.4375rem; */
      }
    }

    .bottomBelow {
      gap: 5rem;

      p {
        color: #101828;
        font-size: 1.135rem;
      }
    }
  }

  .myImages {
    gap: 0.75rem;

    img {
      width: 2.5rem;
      height: 2.5rem;
    }

    .myImg {
      width: 7.6875rem;
      height: 2.5rem;
    }
  }
}

.introduction {
  margin-block-start: 5%;
  gap: 7.75rem;

  .leftPart {
    width: 45rem;

    p {
      font-size: 1.125rem;
      color: #265358;
    }

    h2 {
      font-size: 1.975rem;
      color: #101828;
    }
    li {
      color: #265358;
      font-size: 1.125rem;
    }
  }

  .rightPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding-inline: 2rem;
    padding-block-start: 2rem;
    padding-block-end: 2.5rem;
    background: #e7fafd;
    height: 27.75rem;
    border-radius: 1rem;

    img {
      width: 3.5rem;
      height: 3.5rem;
    }

    h3 {
      color: #b77e00;
      font-size: 1.5rem;
    }

    form {
      p {
        font-size: 1rem;
        margin-block-start: 0.5rem;
      }

      input {
        border-radius: 0.75rem;
        margin-inline-end: 0.375rem;
      }
      input::placeholder {
        color: #64748b;
        font-size: 16px;
        /* padding: 10px; */
        padding-block: 131.5px;
      }

      button {
        margin-block-start: 1rem;
        width: 15rem;
        border: none;
        height: 2.75rem;
        border-radius: 1rem;
        background: #fec545;
      }
    }
  }
  .aTag {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }
}

/* ------------------------FOOTER------------------------ */

.footer {
  background: #ffffff;
  padding-block: 2.5rem;
  padding-inline: 3rem;
  display: grid;
  grid-template-columns: auto auto;
  margin-inline: 2.40625rem;
  margin-block-start: 7%;
  margin-block-end: 2.25rem;
  border-radius: 20px;
  border: 0.25rem solid #edeff1;

  .top {
    margin-block-end: 1.875rem;
  }

  .left-end {
    p {
      width: 492px;
      height: 72px;
      font-size: 16px;
      color: #64748b;
      margin-block-end: 10%;
    }

    span {
      width: 336px;
      height: 24px;
      font-size: 14px;
      color: #667085;
    }
  }

  .footerlist {
    display: grid;
    grid-template-columns: auto auto auto;
    /* gap: 1rem; */

    ul li {
      list-style: none;
      font-size: 16px;
      margin-block-start: 0.5rem;

      .contact {
        margin-block-start: 5rem;
      }
    }
  }
}

/* ----------------HOVER EFFECTS-------------------- */
.hvr-underline-from-left:before {
  background: #fec545 !important;
  
}
.hvr-fade:before {
  background-color: #fec545 !important;

}
.dropdown-menu {
  --bs-dropdown-link-active-bg: #ffffff !important;
}
.hvr-bounce-to-top:before {
  background-color: #fec545 !important;
  border-radius: 1rem;
}
.grid-services:hover {
  h3 {
    color: #060809;
  }
}
.myButton:active {
  background-color: #f5b726;
  transform: translateY(4px);
}
@media screen and (max-width: 36rem) {
  .navbar .mybtn {
    display: none;
  }

  .navbar,
  .myNav {
    max-width: 425px !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .dropdown-item {
    background: #ffffff !important;
  }

  nav a {
    text-decoration: none !important;
  }

  .nav-item a:hover {
    text-decoration: none !important;
  }

  body {
    width: 425px;
  }
  /* ---------------------------OUR VALUES--------------------------------------- */
  .services {
    height: 275px;
    width: 425px;
    background: url(../images/BG\ ph.png);
    background-repeat: round;
    align-items: center;
    display: flex;
    margin-block-start: 3rem;
    justify-content: center;
    align-content: center;
    text-align: center;

    .servicesContent {
      color: #ffffff;
      width: 425px;
      height: 19.3125rem;

      h2 {
        height: 66px;
        font-size: 36px;
        width: 300px;
      }

      p {
        font-size: 1rem;
        width: 264px;
      }
    }
  }

  /* --------------------LEADERSHIP LESSON---------------------- */
  .myBody {
    margin-inline: 16px;
    margin-block-start: 22px;
  }
  .leadershipLesson {
    width: 375px;

    .eightMin {
      font-size: 0.75rem;
      color: #1b1822;
      background: #4ee1f1;
      width: 9.1875rem;
      height: 1.675rem;
      border-radius: 1rem;
      margin-block-end: 1rem;

      .product {
        width: 3.875rem;
        height: 1.375rem;
        background: #ffffff;
        border-radius: 1rem;
      }
    }

    h2 {
      font-size: 36px;
      width: 343px;
      color: #191d26;
      margin-block-end: 0;
    }

    p {
      width: 343px;
      color: #475569;
      font-size: 18px;
    }
  }

  .myPhoto {
    gap: 2rem;

    .bottomTop {
      .pTags {
        p {
          color: #b77e00;
          font-size: 0.875rem;
          /* width: 4.4375rem; */
        }
      }

      .bottomBelow {
        p {
          color: #101828;
          font-size: 18px;
        }
      }
    }

    .myImages {
      display: none !important;
      gap: 0.75rem;

      img {
        width: 2.5rem;
        height: 2.5rem;
      }

      .myImg {
        width: 7.6875rem;
        height: 2.5rem;
      }
    }
  }

  /* -------------------INTRODUCTION----------------------- */
  .introduction {
    margin-block-start: 5%;
    gap: 7.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

    .myImg {
      width: 343px;
      height: 272px;
    }
    .leftPart {
      width: 343px;

      .myH4 {
        width: 343px !important;
        height: 252px;
      }

      p {
        font-size: 1.125rem;
        color: #265358;
      }

      h2 {
        font-size: 1.975rem;
        color: #101828;
      }
      li {
        color: #265358;
        font-size: 1.125rem;
      }
    }

    .rightPart {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
      padding-inline: 2rem;
      padding-block-start: 2rem;
      padding-block-end: 2.5rem;
      background: #e7fafd;
      height: 27.75rem;
      border-radius: 1rem;

      img {
        width: 3.5rem;
        height: 3.5rem;
      }

      h3 {
        color: #b77e00;
        font-size: 1.5rem;
      }

      form {
        p {
          font-size: 1rem;
          margin-block-start: 0.5rem;
        }

        input {
          border-radius: 0.75rem;
          margin-inline-end: 0.375rem;
        }
        input::placeholder {
          color: #64748b;
          font-size: 16px;
          /* padding: 10px; */
          padding-block: 131.5px;
        }

        button {
          margin-block-start: 1rem;
          width: 15rem;
          border: none;
          height: 2.75rem;
          border-radius: 1rem;
          background: #fec545;
        }
      }
    }
    .aTag {
      display: flex;
      flex-direction: row;
      gap: 3rem;
    }
  }

  .footer {
    display: none;
  }

  .footer-ph {
    .myP {
      width: 343px;
      height: 48px;
      font-size: 16px;
      color: #475467;
    }
    .top {
      margin-block-end: 40px;
      ul li {
        list-style: none;
        font-size: 16px;
        color: #475467;

        a {
          text-decoration: none;
          color: #475467;
        }
      }
    }
  }

  .hvr-underline-from-left:before {
    background: #fec545 !important;
    width: 0;
  }
  .hvr-fade:before {
    background-color: #fec545 !important;
  }
  .dropdown-menu {
    --bs-dropdown-link-active-bg: #ffffff !important;
  }
  .hvr-bounce-to-top:before {
    background-color: #fec545 !important;
    border-radius: 1rem;
  }
  .grid-services:hover {
    h3 {
      color: #060809;
    }
  }
  .myButton:active {
    background-color: #f5b726;
    transform: translateY(4px);
  }
}

@media screen and (min-width: 1024px) {
  /* ---------------------------OUR VALUES--------------------------------------- */
  .services {
    height: 14.75rem;
    background: url(../images/BG3.png);
    align-items: center;
    display: flex;
    margin-block-start: 6rem;
    justify-content: center;
    align-content: center;
    text-align: center;

    .servicesContent {
      color: #ffffff;
      width: 43.375rem;
      height: 19.3125rem;

      h2 {
        height: 4.125rem;
        font-size: 3.625rem;
        width: 50.875rem;
      }

      p {
        font-size: 1rem;
        width: 33rem;
      }
    }
  }

  /* --------------------LEADERSHIP LESSON---------------------- */
  .myBody {
    margin-inline: 6.625rem;
    margin-block-start: 6%;
  }
  .leadershipLesson {
    .eightMin {
      font-size: 0.75rem;
      color: #1b1822;
      background: #4ee1f1;
      width: 9.1875rem;
      height: 1.675rem;
      border-radius: 1rem;
      margin-block-end: 1rem;

      .product {
        width: 3.875rem;
        height: 1.375rem;
        background: #ffffff;
        border-radius: 1rem;
      }
    }

    h2 {
      font-size: 3rem;
      width: 48rem;
      color: #191d26;
      margin-block-end: 1.5rem;
    }

    p {
      width: 48rem;
      color: #475569;
      font-size: 1.25rem;
    }
  }

  .myPhoto {
    gap: 2rem;

    .bottomTop {
      .pTags {
        gap: 7.5rem;

        p {
          color: #b77e00;
          font-size: 0.875rem;
          /* width: 4.4375rem; */
        }
      }

      .bottomBelow {
        gap: 5rem;

        p {
          color: #101828;
          font-size: 1.135rem;
        }
      }
    }

    .myImages {
      gap: 0.75rem;

      img {
        width: 2.5rem;
        height: 2.5rem;
      }

      .myImg {
        width: 7.6875rem;
        height: 2.5rem;
      }
    }
  }

  .introduction {
    margin-block-start: 5%;
    gap: 7.75rem;

    .leftPart {
      width: 45rem;

      p {
        font-size: 1.125rem;
        color: #265358;
      }

      h2 {
        font-size: 1.975rem;
        color: #101828;
      }
      li {
        color: #265358;
        font-size: 1.125rem;
      }
    }

    .rightPart {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
      padding-inline: 2rem;
      padding-block-start: 2rem;
      padding-block-end: 2.5rem;
      background: #e7fafd;
      height: 27.75rem;
      border-radius: 1rem;

      img {
        width: 3.5rem;
        height: 3.5rem;
      }

      h3 {
        color: #b77e00;
        font-size: 1.5rem;
      }

      form {
        p {
          font-size: 1rem;
          margin-block-start: 0.5rem;
        }

        input {
          border-radius: 0.75rem;
          margin-inline-end: 0.375rem;
        }
        input::placeholder {
          color: #64748b;
          font-size: 16px;
          /* padding: 10px; */
          padding-block: 131.5px;
        }

        button {
          margin-block-start: 1rem;
          width: 15rem;
          border: none;
          height: 2.75rem;
          border-radius: 1rem;
          background: #fec545;
        }
      }
    }
    .aTag {
      display: flex;
      flex-direction: row;
      gap: 3rem;
    }
  }

  .footer {
    background: #ffffff;
    padding-block: 2.5rem;
    padding-inline: 3rem;
    display: grid;
    grid-template-columns: auto auto;
    margin-inline: 2.40625rem;
    margin-block-end: 76px !important;
    border-radius: 20px;
    border: 0.25rem solid #edeff1;

    .top {
      margin-block-end: 1.875rem;
    }

    .left-end {
      p {
        width: 492px;
        height: 72px;
        font-size: 16px;
        color: #64748b;
        margin-block-end: 10%;
      }

      span {
        width: 336px;
        height: 24px;
        font-size: 14px;
        color: #667085;
      }
    }

    .footerlist {
      display: grid;
      grid-template-columns: auto auto auto;

      ul li {
        list-style: none;
        font-size: 16px;
        margin-block-start: 0.5rem;

        .contact {
          margin-block-start: 5rem;
        }

        a {
          text-decoration: none;
          font-size: 16px;
          color: #0b0d14;
        }
      }
    }
  }

  .footer-ph {
    display: none;
  }

  /* ----------------HOVER EFFECTS-------------------- */
  .hvr-underline-from-left:before {
    background: #fec545 !important;
  }
  .hvr-fade:before {
    background-color: #fec545 !important;
  }
  .dropdown-menu {
    --bs-dropdown-link-active-bg: #ffffff !important;
  }
  .hvr-bounce-to-top:before {
    background-color: #fec545 !important;
    border-radius: 1rem;
  }
  .grid-services:hover {
    h3 {
      color: #060809;
    }
  }
  .myButton:active {
    background-color: #f5b726;
    transform: translateY(4px);
  }
}
