@font-face {
  font-family: "Inter medium";
  src: url(../assets/Fonts/Inter_28pt-Medium.ttf);
}
@font-face {
  font-family: "Semi bold";
  src: url(../assets/Fonts/Inter_28pt-SemiBold.ttf);
}

@font-face {
  font-family: "Extra bold";
  src: url(../assets/Fonts/Inter_28pt-ExtraBold.ttf);
}
@font-face {
  font-family: "Regular";
  src: url(../assets/Fonts/Inter_28pt-Regular.ttf);
}
@font-face {
  font-family: "Bold";
  src: url(../assets/Fonts/Inter_28pt-Bold.ttf);
}
.inter-medium {
  font-family: "Inter medium";
}
.inter-regular {
  font-family: " Regular";
}

.inter-semibold {
  font-family: "Semi bold";
}

.inter-extrabold {
  font-family: "Extra bold";
}
.inter-bold {
  font-family: "Bold";
}

body {
  background: #ffffff;
}

.navbar {
  height: 5rem;
  background: #ffffff;
  height: 80px;
  bottom: 0;
}

.navbar {
 
  .nav-item{
    a{
      font-size: 1rem;
      color: #0B0D14;
    }
  }
  .mybtn {
    font-size: 1rem;
    color: #0e0d0d;
    width: 13.375rem;
    height: 2.75rem;
    border-radius: 1rem;
    background: #fec545;
    border: none;
  }
  li a img {
    width: 1.25rem;
    height: 1.25rem;
  }
}

/* ---------------------------OUR VALUES--------------------------------------- */
.services {
  height: 14.75rem;
  background: url(../images/BG3.png);
  align-items: center;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;

  .servicesContent {
    color: #ffffff;
    width: 43.375rem;
    height: 19.3125rem;

    h2 {
      height: 4.125rem;
      font-size: 3.625rem;
      width: 50.875rem;
    }

    p {
      font-size: 1rem;
      width: 33rem;
    }
  }
}

/* ----------------------CONTACT US----------------- */
.contactUs {
  height: 68.875rem;
  margin-block-start: 5%;
  

  .myForm {
    width: 36.8125rem;
    height: 56.875rem;
    padding: 2rem;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;

    form {
      gap: 1.5rem;
      display: flex;
      flex-direction: column;

      .myCheckBox {
        gap: 1rem;
        display: flex;
        flex-direction: column;
      }

      .myInput{

        input{
        height: 3rem;
        width: 32rem;
      }
      }
    }
  }

  div h2 {
    font-size: 3rem;
    color: #0f172a;
  }
  div p {
    font-size: 1.125rem;
    color: #475467;

    a {
      color: #0099a8;
      text-decoration: none;
    }
  }

  .check {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;

    label {
      font-size: 1rem;
      color: #344054;
    }
  }
  input::placeholder {
    color: #667085;
    font-size: 1rem;
  }

  button {
    width: 32.125rem;
    height: 2.75rem;
    border: none;
    background: #fec545;
    color: #0e0d0d;
    border-radius: 1rem;
  }
}


/* ------------------------FOOTER------------------------ */

.footer {
  background: #ffffff;
  padding-block: 2.5rem;
  padding-inline: 3rem;
  display: grid;
  grid-template-columns: auto auto;
  margin-inline: 2.40625rem;
  margin-block-start: 7%;
  margin-block-end: 2%;
  border-radius: 20px;
  border: 0.25rem solid #edeff1;

  .top {
    margin-block-end: 1.875rem;
  }

  .left-end {
    p {
      width: 492px;
      height: 72px;
      font-size: 16px;
      color: #64748b;
      margin-block-end: 10%;
    }

    span {
      width: 336px;
      height: 24px;
      font-size: 14px;
      color: #667085;
    }
  }

  .footerlist {
    display: grid;
    grid-template-columns: auto auto auto;
    /* gap: 1rem; */

    ul li {
      list-style: none;
      font-size: 16px;
      margin-block-start: 0.5rem;

      .contact {
        margin-block-start: 5rem;
      }
    }
  }
}

@media screen and (max-width: 36rem) {
  .navbar .mybtn {
    display: none;
  }

  
  .navbar, .myNav{
    width: 425px !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    background: #ffffff;
  }

  .dropdown-item {
    background: #ffffff !important;
    }

  nav a {
  text-decoration: none !important;
  }

  .nav-item a:hover {
  text-decoration: none !important;
  }
  /* ---------------------------OUR VALUES--------------------------------------- */
.services {

  height: 14.75rem;
  width: 425px;
  background: url(../images/BG\ ph.png);
  align-items: center;
  display: flex;
  margin-block-start: 3rem;
  justify-content: center;
  align-content: center;
  text-align: center;

  .servicesContent {
    color: #ffffff;
    width: 335px;
    height: 19.3125rem;

    h2 {
      height: 66px;
      font-size: 36px;
      width: 425px;
    }

    p {
      font-size: 1rem;
      width: 264px;
    }
  }
}

/* ----------------------CONTACT US----------------- */
.contactUs {
  height: 958px;
  margin-block-start: 5%;
  
  .myImg{
    display: none;
  }
  .myForm {
    width: 375px;
    height: 958px;
    padding: 2rem;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;

    form {
      gap: 1.5rem;
      display: flex;
      flex-direction: column;

      .myCheckBox {
        gap: 1rem;
        display: none;
        flex-direction: column;
      }

      .myInput{
        width: 343px;

        input{
        height: 48px;
        width: 343px;
      }
      }
    }
  }

  div h2 {
    font-size: 3rem;
    color: #0f172a;
  }
  div p {
    font-size: 1.125rem;
    color: #475467;

    a {
      color: #0099a8;
      text-decoration: none;
    }
  }

  .check {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;

    label {
      font-size: 1rem;
      color: #344054;
    }
  }
  input::placeholder {
    color: #667085;
    font-size: 1rem;
  }

  button {
    width: 335px;
    height: 2.75rem;
    border: none;
    background: #fec545;
    color: #0e0d0d;
    border-radius: 1rem;
  }
}
.footer{
  display: none;
}

.footer-ph {
  margin-block-start: 36px;
  border: 0.25rem solid #edeff1;
  border-radius: 2rem;
  border-left: none;
  border-right: none;
  border-bottom: none;
  
  .myP {
    width: 343px;
    height: 48px;
    font-size: 16px;
    color: #475467;
  }
  .top {
    margin-block-end: 40px;
    ul li {
      list-style: none;
      font-size: 16px;
      color: #475467;

      a {
        text-decoration: none;
        color: #475467;
      }
    }
  }
}
}


@media screen and (min-width: 1024px) {
  /* ---------------------------OUR VALUES--------------------------------------- */
  .services {
  height: 14.75rem;
  background: url(../images/BG3.png);
  align-items: center;
  display: flex;
  margin-block-start: 6rem;
  justify-content: center;
  align-content: center;
  text-align: center;

  .servicesContent {
    color: #ffffff;
    width: 43.375rem;
    height: 19.3125rem;

    h2 {
      height: 4.125rem;
      font-size: 3.625rem;
      width: 50.875rem;
    }

    p {
      font-size: 1rem;
      width: 33rem;
    }
  }

  
  }

/* ----------------------CONTACT US----------------- */
.contactUs {
  height: 68.875rem;
  margin-block-start: 5%;
  

  .myForm {
    width: 36.8125rem;
    height: 56.875rem;
    padding: 2rem;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;

    form {
      gap: 1.5rem;
      display: flex;
      flex-direction: column;

      .myCheckBox {
        gap: 1rem;
        display: flex;
        flex-direction: column;
      }

      .myInput{

        input{
        height: 3rem;
        width: 32rem;
      }
      }
    }
  }

  div h2 {
    font-size: 3rem;
    color: #0f172a;
  }
  div p {
    font-size: 1.125rem;
    color: #475467;

    a {
      color: #0099a8;
      text-decoration: none;
    }
  }

  .check {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;

    label {
      font-size: 1rem;
      color: #344054;
    }
  }
  input::placeholder {
    color: #667085;
    font-size: 1rem;
  }

  button {
    width: 32.125rem;
    height: 2.75rem;
    border: none;
    background: #fec545;
    color: #0e0d0d;
    border-radius: 1rem;
  }
}

/* ------------------------FOOTER------------------------ */

.footer {
  background: #ffffff;
  padding-block: 2.5rem;
  padding-inline: 3rem;
  display: grid;
  grid-template-columns: auto auto;
  margin-inline: 2.40625rem;
  margin-block-end: 76px !important;
  border-radius: 20px;
  border: 0.25rem solid #edeff1;

  .top {
    margin-block-end: 1.875rem;
  }

  .left-end {
    p {
      width: 492px;
      height: 72px;
      font-size: 16px;
      color: #64748b;
      margin-block-end: 10%;
    }

    span {
      width: 336px;
      height: 24px;
      font-size: 14px;
      color: #667085;
    }
  }

 
  .footerlist {
    display: grid;
    grid-template-columns: auto auto auto;

    ul li {
      list-style: none;
      font-size: 16px;
      margin-block-start: 0.5rem;

      .contact {
        margin-block-start: 5rem;
      }

      a {
        text-decoration: none;
        font-size: 16px;
        color: #0b0d14;
      }
    }
  }
}

.footer-ph{
  display: none;
}

 /* ----------------HOVER EFFECTS-------------------- */
 .hvr-underline-from-left:before {
  background: #fec545 !important;
}

.hvr-fade:before {
  background-color: #fec545 !important;
}
.dropdown-menu {
  --bs-dropdown-link-active-bg: #fec545 !important;
}
.hvr-bounce-to-top:before {
  background-color: #fec545 !important;
  border-radius: 1rem;
}
.grid-services:hover {
  h3 {
    color: #060809;
  }
}
.myButton:active {
  background-color: #f5b726;
  transform: translateY(4px);
}
}