@font-face {
  font-family: "Inter medium";
  src: url(../assets/Fonts/Inter_28pt-Medium.ttf);
}
@font-face {
  font-family: "Semi bold";
  src: url(../assets/Fonts/Inter_28pt-SemiBold.ttf);
}

@font-face {
  font-family: "Extra bold";
  src: url(../assets/Fonts/Inter_28pt-ExtraBold.ttf);
}
@font-face {
  font-family: "Regular";
  src: url(../assets/Fonts/Inter_28pt-Regular.ttf);
}
@font-face {
  font-family: "Bold";
  src: url(../assets/Fonts/Inter_28pt-Bold.ttf);
}
.inter-medium {
  font-family: "Inter medium";
}
.inter-regular {
  font-family: " Regular";
}

.inter-semibold {
  font-family: "Semi bold";
}

.inter-extrabold {
  font-family: "Extra bold";
}
.inter-bold {
  font-family: "Bold";
}

body {
  background: #ffffff;
  /* margin: 0rem 6.84rem 0rem 6.84rem; */
}


.navbar {
  height: 5rem;
  background: #ffffff;
  height: 80px;
  bottom: 0;
}

.navbar {
 
  .nav-item{
    a{
      font-size: 1rem;
      color: #0B0D14;
    }
  }
  .mybtn {
    font-size: 1rem;
    color: #0e0d0d;
    width: 13.375rem;
    height: 2.75rem;
    border-radius: 1rem;
    background: #fec545;
    border: none;
  }
  li a img {
    width: 1.25rem;
    height: 1.25rem;
  }
}

/* ---------------------------OUR VALUES--------------------------------------- */
.services {
  height: 14.75rem;
  background: url(../images/BG3.png);
  background-repeat: round;
  align-items: center;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-block-start: 6rem;

  .servicesContent {
    color: #ffffff;
    width: 43.375rem;
    height: 19.3125rem;

    h2 {
      height: 4.125rem;
      font-size: 3.625rem;
      width: 50.875rem;
    }

    p {
      font-size: 1rem;
      width: 33rem;
    }
  }
}


.card-div {
  margin-inline: 4.0625rem;
  height: 444px;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  align-content: center;

  .card-title {
    font-size: 24px;
    color: #1e293b;
  }

  .card{
  width: 383px;
  }
  .card-text {
    font-size: 16px;
    color: #475569;
    width: 312px;
  }
  .card-body {
    .buttonsBelow {
      display: flex;
      flex-direction: row;
      gap: 8px;

      a {
        color: #0099cc;
        font-size: 12px;
        background: #e5f9ff;
        border-radius: 120px;
      }
    }
  }
}

.myCards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 42px;
    margin-block: 71px;
    

    .aTag{
        display: none;
        flex-direction: row;
        gap: 3rem;
    }
}

/* ------------------------FOOTER------------------------ */

.footer {
  background: #ffffff;
  padding-block: 2.5rem;
  padding-inline: 3rem;
  display: grid;
  grid-template-columns: auto auto;
  margin-inline: 2.40625rem;
  margin-block-start: 7%;
  margin-block-end: 2.25rem;
  border-radius: 20px;
  border: 0.25rem solid #edeff1;

  .top {
    margin-block-end: 1.875rem;
  }

  .left-end {
    p {
      width: 492px;
      height: 72px;
      font-size: 16px;
      color: #64748b;
      margin-block-end: 10%;
    }

    span {
      width: 336px;
      height: 24px;
      font-size: 14px;
      color: #667085;
    }
  }

  .footerlist {
    display: grid;
    grid-template-columns: auto auto auto;
    /* gap: 1rem; */

    ul li {
      list-style: none;
      font-size: 16px;
      margin-block-start: 0.5rem;

      .contact {
        margin-block-start: 5rem;
      }
    }
  }
}

/* ----------------HOVER EFFECTS-------------------- */
.hvr-fade:before {
  background-color: #fec545 !important;
}
.dropdown-menu {
  --bs-dropdown-link-active-bg: #ffffff !important;
}
.hvr-bounce-to-top:before {
  background-color: #fec545 !important;
  border-radius: 1rem;
}
.grid-services:hover {
  h3 {
    color: #060809;
  }
}
.myButton:active {
  background-color: #f5b726;
  transform: translateY(4px);
}

@media screen and (max-width: 36rem){
  .navbar .mybtn {
    display: none;
  }
  
  .navbar, .myNav{
    max-width: 425px !important;
    width: 425px;
    margin-right: 0 !important;
    margin-left: 0 !important;
    background: #ffffff;

  }

  .dropdown-item {
    background: #ffffff !important;
    }

  nav a {
  text-decoration: none !important;
  }

  .nav-item a:hover {
  text-decoration: none !important;
  }

  .services {
    height: 275px;
    width: 425px;
    background: url(../images/BG\ ph.png);
    background-repeat: round;
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-block-start: 3.0625rem;
  
    .servicesContent {
      color: #ffffff;
      width: 43.375rem;
      height: 19.3125rem;
  
      h2 {
        height: 48px;
        font-size: 34px;
        width: 276px;
      }
  
      p {
        font-size: 1rem;
        width: 276px;
        height: 75px;
      }
    }
  }
  
  
  .card-div {
    margin-inline: 20px;
    width: 335px;
    height: 1310px;
    display: flex;
    flex-direction: column;
    gap: 22px;
    justify-content: center;
    align-items: center;
    align-content: center;
  
    .card-title {
      font-size: 24px;
      color: #1e293b;
    }
  
    .card{
      width: 335px;
    }
    .card-text {
      font-size: 16px;
      color: #475569;
      width: 312px;
    }
    .card-body {
      .buttonsBelow {
        display: flex;
        flex-direction: row;
        gap: 8px;
  
        a {
          color: #0099cc;
          font-size: 12px;
          background: #e5f9ff;
          border-radius: 120px;
        }
      }
    }
  }
  
  .myCards{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      gap: 2.5rem;
      margin-block: 40px;
      
  
      .aTag{
          display: none;
          flex-direction: row;
          gap: 3rem;
      }
  }
  .card-none{
    display: none;
  }
  /* ------------------------FOOTER------------------------ */
  .footer {
    display: none;
   }
   
   .footer-ph{
    border: 0.25rem solid #edeff1;
    border-radius: 2rem;
    border-left: none;
    border-right: none;
     border-bottom: none;
     width: 375px;

     .myP{
       width: 343px;
       height: 48px;
       font-size: 16px;
       color: #475467;
     }
     .top{
       margin-block-end: 40px;
       ul li{
         list-style: none;
         font-size: 16px;
         color: #475467;
   
         a{
           text-decoration: none;
           color: #475467;
         }
       }
   
     }
     
   }
    
   
   .hvr-underline-from-left:before {
     background: #fec545 !important;
     width: 0;
   }
   .hvr-fade:before {
     background-color: #fec545 !important;
   }
   .dropdown-menu {
     --bs-dropdown-link-active-bg: #ffffff !important;
   }
   .hvr-bounce-to-top:before {
     background-color: #fec545 !important;
     border-radius: 1rem;
   }
   .grid-services:hover {
     h3 {
       color: #060809;
     }
   }
   .myButton:active {
     background-color: #f5b726;
     transform: translateY(4px);
   }
}

@media screen and (min-width: 1024px){
  .footer-ph{
    display: none;
  }
   /* ------------------------FOOTER------------------------ */

.footer {
  background: #ffffff;
  padding-block: 2.5rem;
  padding-inline: 3rem;
  display: grid;
  grid-template-columns: auto auto;
  margin-inline: 2.40625rem;
  margin-block-end: 76px !important;
  border-radius: 20px;
  border: 0.25rem solid #edeff1;

  .top {
    margin-block-end: 1.875rem;
  }

  .left-end {
    p {
      width: 492px;
      height: 72px;
      font-size: 16px;
      color: #64748b;
      margin-block-end: 10%;
    }

    span {
      width: 336px;
      height: 24px;
      font-size: 14px;
      color: #667085;
    }
  }

 
  .footerlist {
    display: grid;
    grid-template-columns: auto auto auto;

    ul li {
      list-style: none;
      font-size: 16px;
      margin-block-start: 0.5rem;

      .contact {
        margin-block-start: 5rem;
      }

      a {
        text-decoration: none;
        font-size: 16px;
        color: #0b0d14;
      }
    }
  }
}

/* ----------------HOVER EFFECTS-------------------- */
.hvr-underline-from-left:before {
  background: #fec545 !important;
  
}
.hvr-fade:before {
  background-color: #fec545 !important;

}
.dropdown-menu {
  --bs-dropdown-link-active-bg: #ffffff !important;
}
.hvr-bounce-to-top:before {
  background-color: #fec545 !important;
  border-radius: 1rem;
}
.grid-services:hover {
  h3 {
    color: #060809;
  }
}
.myButton:active {
  background-color: #f5b726;
  transform: translateY(4px);
}
}