@font-face {
  font-family: "Inter medium";
  src: url(../assets/Fonts/Inter_28pt-Medium.ttf);
}
@font-face {
  font-family: "Semi bold";
  src: url(../assets/Fonts/Inter_28pt-SemiBold.ttf);
}

@font-face {
  font-family: "Extra bold";
  src: url(../assets/Fonts/Inter_28pt-ExtraBold.ttf);
}
@font-face {
  font-family: "Regular";
  src: url(../assets/Fonts/Inter_28pt-Regular.ttf);
}
@font-face {
  font-family: "Bold";
  src: url(../assets/Fonts/Inter_28pt-Bold.ttf);
}
.inter-medium {
  font-family: "Inter medium";
}
.inter-regular {
  font-family: " Regular";
}

.inter-semibold {
  font-family: "Semi bold";
}

.inter-extrabold {
  font-family: "Extra bold";
}
.inter-bold {
  font-family: "Bold";
}

body {
  background: #ffffff;
}

.navbar {
  height: 5rem;
  background: #ffffff;
  height: 80px;
  bottom: 0;
}

.navbar {
 
  .nav-item{
    a{
      font-size: 1rem;
      color: #0B0D14;
    }
  }
  .mybtn {
    font-size: 1rem;
    color: #0e0d0d;
    width: 13.375rem;
    height: 2.75rem;
    border-radius: 1rem;
    background: #fec545;
    border: none;
  }
  li a img {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.services {
  height: 19.3125rem;
  background-image: url(../images/BG2.png);
  border-radius: 1.25rem;
  margin-block-start: 6rem;
  /* margin-inline-end: 116px; */
  /* margin-inline-start: 106px; */
  /* position: relative; */

  .servicesContent {
    color: #ffffff;
    height: 19.3125rem;

    h2 {
      height: 4.125rem;
      font-size: 3.625rem;
      width: 50.875rem;
      padding-block-end: 3.0375rem;
    }
    p {
      width: 33rem;
      height: 1.8125rem;
      font-size: 1rem;
      margin-inline-end: 0.625rem;
    }

    form {
      width: 33.4375rem;
      height: 4rem;
      border-radius: 1.5rem;
      /* padding-inline-start: 23px;
      padding-inline-end: 12px; */
      padding-block-end: 2.5625rem;

      input {
        max-width: 535px;
        height: 64px;
        border-radius: 24px;
      }

      input::placeholder {
        color: #64748b;
        font-size: 16px;
        /* padding: 10px; */
        padding-block: 131.5px;
        /* padding-inline-start: 35px; */
      }

      .myForm {

        span img {
          width: 20px;
          height: 20px;
          color: #1f1f24;
          /* padding: 10px; */
          top: 21px;
          left: 10px;
        }
      }
    }

    .input-field {
      width: 535px;
    }
    button {
      background: #fec545;
      width: 214px;
      height: 44px;
      color: #0e0d0d;
      font-size: 16px;
      top: 10px;
      right: 10px;
      border-radius: 16px;
      border: none;
    }
  }
}

/* ------------------------OUR SERVICE GRID--------------------------------- */

.lines {
  background: linear-gradient(#ecfcff, #e7fafd);
}
.grid-div {
  height: 57.4375rem;
  /* padding-inline-end: 2%; */
  background-image: url(../assets/Icons/glow_one.png.png),
    url(../images/Line\ design\ -\ bg.png);
}

.grid-ourServices {
  /* margin-inline: 5.59375rem; */
  height: 16rem;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1.4375rem;
  justify-content: center;
  align-items: center;

  .grid-services {
    height: 24.625rem;
    background: #ffffff;
    padding-inline-start: 2.0625rem;

    img {
      width: 60px;
      height: 60px;
      margin-block-end: 33px;
      margin-block-start: 33px;
    }
    h3 {
      width: 313px;
      height: 68px;
      font-size: 24px;
      line-height: 34px;
      margin-block-end: 18px;
    }
    p {
      font-size: 1rem;
      line-height: 24px;
      width: 313px;
      height: 72px;
      color: #475569;
      margin-block-end: 10px;
    }
    a {
      text-decoration: none;
      font-size: 1rem;
      color: #0f172a;
      text-align: center;

      img {
        color: #0f172a;
        width: 1rem;
        height: 1rem;
      }
    }
  }
}

/* ---------------------HOW WE WORK---------------------- */

.howWeWork {
  height: 544px;
  background: #f0feff;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-block-end: 3px;

  .howWeWork-left {
    display: flex;
    flex-direction: column;
    width: 284px;
    height: 227px;
    margin-inline-start: 6.2%;
    margin-inline-end: 7%;
    /* padding: ; */

    .dot {
      display: flex;
      flex-direction: row;
      /* align-items: center; */
      justify-content: left;
      /* align-items: center; */

      img {
        background: #276e6e;
        width: 12px;
        height: 12px;
        border-radius: 99999px;
        /* align-self: center; */
        margin-block-start: 6px;
        margin-inline-end: 20px;
      }

      p {
        font-size: 16px;
        color: #131a1b;
        margin-block-end: 24px;
        text-align: center;
        align-self: center;
      }
    }
    h3 {
      font-size: 42px;
      line-height: 63px;
      color: #0f172a;
    }
    p {
      font-size: 41px;
      color: #276e6e;
      margin-block-end: 34px;
    }

    .bolt {
      display: flex;
      flex-direction: row;
      justify-content: center;
      border: 1px solid #0c98a6;
      border-radius: 19px;
      height: 41px;
      text-align: center;
      align-content: center;
      padding-block-start: 3%;
      padding-inline: 1.5%;

      img {
        width: 14px;
        height: 14px;
        background: #276e6e;
        border-radius: 99999px;
        margin-block-start: 6px;
        margin-inline-end: 10px;
      }

      p {
        font-size: 14px;
      }
      a {
        text-decoration: none;
        color: #1a1c1f;
      }
    }
  }

  .howWeWork-right {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    align-items: center;
    width: 850px;
    height: 352px;
    background: url();
    padding-inline-end: 6rem;

    h4 {
      width: 170px;
      height: 50px;
      font-size: 24px;
      color: #1e293b;
      background: #ffe5aa;
      border-radius: 8px;
      text-align: center;
      align-content: center;
      margin-block-end: 15px;
    }

    p {
      color: #475569;
      font-size: 19px;
      height: 24px;
    }

    .right-details {
      width: 415px;
      height: 166px;
      background-color: #ffffff;
      border-radius: 20px;
      align-content: center;
      padding-inline-start: 10%;
    }
  }
}

/* ------------------------FOOTER------------------------ */

.footer {
  background: #ffffff;
  padding-block: 2.5rem;
  padding-inline: 3rem;
  display: grid;
  grid-template-columns: auto auto;
  margin-inline: 2.40625rem;
  margin-block-start: 7%;
  margin-block-end: 2.25rem;
  border-radius: 20px;
  border: 0.25rem solid #edeff1;

  .top {
    margin-block-end: 1.875rem;
  }

  .left-end {
    p {
      width: 492px;
      height: 72px;
      font-size: 16px;
      color: #64748b;
      margin-block-end: 10%;
    }

    span {
      width: 336px;
      height: 24px;
      font-size: 14px;
      color: #667085;
    }
  }

  .footerlist {
    display: grid;
    grid-template-columns: auto auto auto;
    /* gap: 1rem; */

    ul li {
      list-style: none;
      font-size: 16px;
      margin-block-start: 0.5rem;

      .contact {
        margin-block-start: 5rem;
      }
    }
  }
}

.hvr-fade:before {
    background-color: #fec545 !important;
}
  .dropdown-menu {
    --bs-dropdown-link-active-bg: #ffffff !important;
  }
  .hvr-bounce-to-top:before {
    background-color: #fec545 !important;
    border-radius: 1rem;
  }
  .grid-services:hover {
    h3 {
      color: #060809;
    }
  }
  .myButton:active {
    background-color: #f5b726;
    transform: translateY(4px);
  }



@media screen and (max-width: 36rem) {
  .navbar .mybtn {
    display: none;
  }

  .navbar,
  .myNav {
    width: 425px !important;
    max-width: 425px !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    background: #ffffff;
  }

  .dropdown-item {
    background: #ffffff !important;
  }

  nav a {
    text-decoration: none !important;
  }

  .nav-item a:hover {
    text-decoration: none !important;
  }

  body{
    width: 425px !important;
  }

  .services {
    height: 275px;
    background-image: url(../images/BG\ ph.png);
    border-radius: 0;
    background-repeat: round;
    margin-block-start: 3.0625rem;

    .servicesContent {
    color: #ffffff;
    margin-inline: 0;
    height: 19.3125rem;
    width: 425px;
    text-align: center;


    h2{
      font-size: 36px;
      width: 264px;
      
      padding-block-end: 0;
    }

    p{
      font-size: 1rem;
       width: 264px;
      height: 29px;
      margin-block-end: 41px;
      margin-inline-end: 0;
    }

    

    form {
      width: 214px;
      height: 4rem;
      border-radius: 1.5rem;
      /* padding-inline-start: 23px;
      padding-inline-end: 12px; */
      padding-block-end: 2.5625rem;

      input {
        max-width: 535px;
        height: 64px;
        border-radius: 24px;
      }

      input::placeholder {
        color: #64748b;
        font-size: 16px;
        /* padding: 10px; */
        padding-block: 0;
        padding-inline-start: 0;
      }

      .myForm {
        display: none;

        span img {
          width: 20px;
          height: 20px;
          color: #1f1f24;
          /* padding: 10px; */
          top: 210px;
          left: 0;
        }
      }
    }

    .input-field {
      width: 5px;
    }
    button {
      background: #fec545;
      width: 214px;
      height: 44px;
      color: #0e0d0d;
      font-size: 16px;
      top: 10px;
      right: 10px;
      border-radius: 16px;
      border: none;
    }
  
    }
  }


  /* ------------------------OUR SERVICE GRID--------------------------------- */

  .lines {
    background: linear-gradient(#ecfcff, #e7fafd);
    height: 2300px;
    width: 425px;
    padding-left: 0;
    padding-right: 0;
    margin-block-start: 32px;

  }
  .grid-div {
    /* height: 138.5rem; */
    padding-left: 0 !important;
    /* padding-inline-end: 2%; */
    background-image: url(../assets/Icons/glow_one.png.png),
      url(../images/Line\ design\ -\ bg.png);
  }

  .grid-ourServices {
    width: 420px;
    /* height: 138.5rem; */
    display: grid;
    grid-template-columns: auto;
    gap: 19.68px;
    justify-content: center;
    align-items: center;
    padding-block: 32px;

    .grid-services {
      height: 356.32px;
      width: 353px;
      background: #ffffff;
      border-radius: 20px;
      
      padding-inline-start: 21px;

      img {
        width: 60px;
        height: 60px;
        margin-block-end: 34px;
        margin-block-start: 24px;
      }
      h3 {
        width: 313px;
        height: 68px;
        font-size: 24px;
        line-height: 34px;
        margin-block-end: 18px;
      }
      p {
        font-size: 1rem;
        line-height: 24px;
        width: 313px;
        height: 72px;
        color: #475569;
        margin-block-end: 23px;
      }
      a {
        text-decoration: none;
        font-size: 1rem;
        color: #0f172a;
        text-align: center;

        img {
          color: #0f172a;
          width: 1rem;
          height: 1rem;
          margin-block-end: 0;
          margin-block-start: 0;
        }
      }
    }
  }

.howWeWork{
  display: none;
}

.footer{
  display: none;
}

.footer-ph{
  .top{
    margin-block-end: 40px;
    ul li{
      list-style: none;
      font-size: 16px;
      color: #475467;

      a{
        text-decoration: none;
        color: #475467;
      }
    }

  }
}

.hvr-underline-from-left:before {
    background: #fec545 !important;
    width: 0;
  }
.hvr-fade:before {
    background-color: #fec545 !important;
  }
  .dropdown-menu {
    --bs-dropdown-link-active-bg: #ffffff !important;
  }
  .hvr-bounce-to-top:before {
    background-color: #fec545 !important;
    border-radius: 1rem;
  }
  .grid-services:hover {
    h3 {
      color: #060809;
    }
  }
  .myButton:active {
    background-color: #f5b726;
    transform: translateY(4px);
  }
}

@media screen and (min-width: 1024px){
  .services {
  height: 19.3125rem;
  background-image: url(../images/BG2.png);
  border-radius: 1.25rem;
  margin-block-start: 6rem;
  margin-inline-end: 116px;
  margin-inline-start: 106px;
  /* position: relative; */

  .servicesContent {
    color: #ffffff;
    margin-inline: 23.3125rem;
    height: 19.3125rem;

    h2 {
      height: 4.125rem;
      font-size: 3.625rem;
      width: 50.875rem;
      padding-block-end: 3.0375rem;
    }
    p {
      width: 33rem;
      height: 1.8125rem;
      font-size: 1rem;
      margin-inline-end: 0.625rem;
    }

    form {
      width: 33.4375rem;
      height: 4rem;
      border-radius: 1.5rem;
      /* padding-inline-start: 23px;
      padding-inline-end: 12px; */
      padding-block-end: 2.5625rem;

      input {
        max-width: 535px;
        height: 64px;
        border-radius: 24px;
        padding-inline-start: 2rem;

      }

      input::placeholder {
        color: #64748b;
        font-size: 1rem;
        padding-block: 8.21875rem;
        /* padding-inline-start: 35px; */
      }

      .myForm {
        position: relative;

        span img {
          position: absolute;
          width: 1.25rem;
          height: 1.25rem;
          color: #1f1f24;
          /* padding: 10px; */
          top: 1.3125rem;
          left: 0.625rem;
        }
      }
    }

    .input-field {
      position: relative;
      width: 535px;
    }
    button {
      background: #fec545;
      width: 214px;
      height: 44px;
      color: #0e0d0d;
      font-size: 16px;
      position: absolute;
      top: 10px;
      right: 10px;
      border-radius: 16px;
      border: none;
    }
  }
}

/* ------------------------OUR SERVICE GRID--------------------------------- */

.lines {
  background: linear-gradient(#ecfcff, #e7fafd);
}
.grid-div {
  height: 57.4375rem;
  padding-block-start: 3.25rem;
  margin-block: 5%;
  /* padding-inline-end: 2%; */
  background-image: url(../assets/Icons/glow_one.png.png),
    url(../images/Line\ design\ -\ bg.png);
}

.grid-ourServices {
  margin-inline: 5.59375rem;
  height: 16rem;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1.4375rem;
  justify-content: center;
  align-items: center;

  .grid-services {
    width: 24.375rem;
    height: 24.625rem;
    background: #ffffff;

    border-radius: 1.25rem;
    padding-inline-start: 2.0625rem;

    img {
      width: 60px;
      height: 60px;
      margin-block-end: 33px;
      margin-block-start: 33px;
    }
    h3 {
      width: 313px;
      height: 68px;
      font-size: 24px;
      line-height: 34px;
      margin-block-end: 18px;
    }
    p {
      font-size: 1rem;
      line-height: 24px;
      width: 313px;
      height: 72px;
      color: #475569;
      margin-block-end: 10px;
    }
    a {
      text-decoration: none;
      font-size: 1rem;
      color: #0f172a;
      text-align: center;

      img {
        color: #0f172a;
        width: 1rem;
        height: 1rem;
      }
    }
  }
}

/* ---------------------HOW WE WORK---------------------- */

.howWeWork {
  height: 544px;
  background: #f0feff;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-block-end: 3px;

  .howWeWork-left {
    display: flex;
    flex-direction: column;
    width: 284px;
    height: 227px;
    margin-inline-start: 6.2%;
    margin-inline-end: 7%;
    /* padding: ; */

    .dot {
      display: flex;
      flex-direction: row;
      /* align-items: center; */
      justify-content: left;
      /* align-items: center; */

      img {
        background: #276e6e;
        width: 12px;
        height: 12px;
        border-radius: 99999px;
        /* align-self: center; */
        margin-block-start: 6px;
        margin-inline-end: 20px;
      }

      p {
        font-size: 16px;
        color: #131a1b;
        margin-block-end: 24px;
        text-align: center;
        align-self: center;
      }
    }
    h3 {
      font-size: 42px;
      line-height: 63px;
      color: #0f172a;
    }
    p {
      font-size: 41px;
      color: #276e6e;
      margin-block-end: 34px;
    }

    .bolt {
      display: flex;
      flex-direction: row;
      justify-content: center;
      border: 1px solid #0c98a6;
      border-radius: 19px;
      height: 41px;
      text-align: center;
      align-content: center;
      padding-block-start: 3%;
      padding-inline: 1.5%;

      img {
        width: 14px;
        height: 14px;
        background: #276e6e;
        border-radius: 99999px;
        margin-block-start: 3.1px;
        margin-inline-end: 10px;
      }

      p {
        font-size: 14px;
        color: #1a1c1f;
      }
    }
  }

  .howWeWork-right {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    align-items: center;
    width: 850px;
    height: 352px;
    background: url();
    padding-inline-end: 6rem;

    h4 {
      width: 170px;
      height: 50px;
      font-size: 24px;
      color: #1e293b;
      background: #ffe5aa;
      border-radius: 8px;
      text-align: center;
      align-content: center;
      margin-block-end: 15px;
    }

    p {
      color: #475569;
      font-size: 19px;
      height: 24px;
    }

    .right-details {
      width: 415px;
      height: 166px;
      background-color: #ffffff;
      border-radius: 20px;
      align-content: center;
      padding-inline-start: 10%;
    }
  }
}

/* ------------------------FOOTER------------------------ */

.footer {
  background: #ffffff;
  padding-block: 2.5rem;
  padding-inline: 3rem;
  display: grid;
  grid-template-columns: auto auto;
  margin-inline: 2.40625rem;
  margin-block-end: 76px !important;
  border-radius: 20px;
  border: 0.25rem solid #edeff1;

  .top {
    margin-block-end: 1.875rem;
  }

  .left-end {
    p {
      width: 492px;
      height: 72px;
      font-size: 16px;
      color: #64748b;
      margin-block-end: 10%;
    }

    span {
      width: 336px;
      height: 24px;
      font-size: 14px;
      color: #667085;
    }
  }

 
  .footerlist {
    display: grid;
    grid-template-columns: auto auto auto;

    ul li {
      list-style: none;
      font-size: 16px;
      margin-block-start: 0.5rem;

      .contact {
        margin-block-start: 5rem;
      }

      a {
        text-decoration: none;
        font-size: 16px;
        color: #0b0d14;
      }
    }
  }
}

.footer-ph{
  display: none;
}
 /* ----------------HOVER EFFECTS-------------------- */
.hvr-underline-from-left:before {
    background: #fec545 !important;
    
  }
.hvr-fade:before {
    background-color: #fec545 !important;
 
}
  .dropdown-menu {
    --bs-dropdown-link-active-bg: #ffffff !important;
  }
  .hvr-bounce-to-top:before {
    background-color: #fec545 !important;
    border-radius: 1rem;
  }
  .grid-services:hover {
    h3 {
      color: #060809;
    }
  }
  .myButton:active {
    background-color: #f5b726;
    transform: translateY(4px);
  }
}