@font-face {
  font-family: "Inter medium";
  src: url(../assets/Fonts/Inter_28pt-Medium.ttf);
}
@font-face {
  font-family: "Semi bold";
  src: url(../assets/Fonts/Inter_28pt-SemiBold.ttf);
}

@font-face {
  font-family: "Extra bold";
  src: url(../assets/Fonts/Inter_28pt-ExtraBold.ttf);
}
@font-face {
  font-family: "Regular";
  src: url(../assets/Fonts/Inter_28pt-Regular.ttf);
}
@font-face {
  font-family: "Bold";
  src: url(../assets/Fonts/Inter_28pt-Bold.ttf);
}
.inter-medium {
  font-family: "Inter medium";
}
.inter-regular {
  font-family: " Regular";
}

.inter-semibold {
  font-family: "Semi bold";
}

.inter-extrabold {
  font-family: "Extra bold";
}
.inter-bold {
  font-family: "Bold";
}

body {
  background: #ffffff;
  margin: 0rem 6.84rem 0rem 6.84rem;
}

.navbar {
  height: 5rem;
  background: #ffffff;
  height: 80px;
  bottom: 0;
}

.navbar {
  .nav-item {
    a {
      font-size: 1rem;
      color: #0b0d14;
    }
  }
  .mybtn {
    font-size: 1rem;
    color: #0e0d0d;
    width: 13.375rem;
    height: 2.75rem;
    border-radius: 1rem;
    background: #fec545;
    border: none;
  }
  li a img {
    width: 1.25rem;
    height: 1.25rem;
  }
}

/* ---------------------------OUR VALUES--------------------------------------- */
.services {
  height: 14.75rem;
  background: url(../images/BG3.png);
  margin-block-start: 3.0625rem;
  text-align: center;

  .servicesContent {
    color: #ffffff;

    h2 {
      height: 4.125rem;
      font-size: 3.625rem;
      width: 50.875rem;
    }
  }
}

/* -----------------------OUR CORE VALUE--------------------------- */

.coreValue {
  background: linear-gradient(#f5fffb, #e7fafd);
  /* background-image: url(../images/Asset\ 4\ 1.png); */
  margin-block-start: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .values {
    p {
      width: 29.1875rem;
      height: 10.625rem;
      font-size: 2.625rem;
      color: #0f172a;
      margin-block-end: 3.125rem;
      text-align: center;
    }
  }

  h2 {
    font-size: 2.625rem;
    color: #1e293b;
    margin-block-end: 3.125rem;
    text-align: center;
  }

  .coreValue-bottom {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1.375rem;

    .innovation {
      background: #ffffff;
      width: 17.625rem;
      height: 13.4375rem;
      border-radius: 1.25rem;
      display: flex;
      flex-direction: column;

      p {
        width: 13.125rem;
        height: 4.5rem;
        font-size: 1rem;
        color: #475569;
      }
    }
  }
}

/* -----------------------Say hello to our team members----------------------------- */

.teamMembers {
  .top {
    display: flex;
    justify-content: space-between;
    margin-inline: 2.6875rem;
    margin-inline: 6.4375rem;
    align-items: center;
    margin-block-end: 2.25rem;

    h2 {
      font-size: 2.625rem;
      color: #0f172a;
      /* width: 26.0625rem; */
      height: 7.0625rem;
    }
    p {
      font-size: 1.125rem;
      color: #475569;
      width: 33.375rem;
      height: 8.1875rem;
      margin-block-end: 0;
    }

    button {
      border: none;
      font-size: 1rem;
      color: #0e0d0d;
      background: #fec545;
      width: 8.5rem;
      height: 2.75rem;
      border-radius: 1rem;
    }
  }

  .teamMembersCarousel {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    margin-block-end: 2.9375rem;

    .members {
      img {
        width: 19.5rem;
        height: 19.9375;
        margin-block-end: 1.5rem;
      }

      .name-div {
        width: 9.8125rem;
        height: 2.5rem;
        /* border: 1px solid #01b2a4;
        border-radius: 1.1875rem; */
        margin-block-end: 0.5rem;

        p {
          /* padding-inline: 1rem; */
          color: #060606;
          font-size: 1.25rem;
        }
      }

      .job-role {
        color: #6c7c94;
        font-size: 1rem;
      }
      .staff {
        color: #475467;
        margin-block-end: 1.5rem;
      }

      .socialIcons {
        display: flex;
        gap: 1rem;
        a img {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
  }
  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: 3.75rem;
  }
}

.footer {
  background: #ffffff;
  padding-block: 2.5rem;
  padding-inline: 3rem;
  display: grid;
  grid-template-columns: auto auto;
  margin-inline: 2.40625rem;
  margin-block-start: 7%;
  margin-block-end: 2.25rem;
  border-radius: 20px;
  border: 0.25rem solid #edeff1;

  .top {
    margin-block-end: 1.875rem;
  }

  .left-end {
    p {
      width: 492px;
      height: 72px;
      font-size: 16px;
      color: #64748b;
      margin-block-end: 10%;
    }

    span {
      width: 336px;
      height: 24px;
      font-size: 14px;
      color: #667085;
    }
  }

  .footerlist {
    display: grid;
    grid-template-columns: auto auto auto;
    /* gap: 1rem; */

    ul li {
      list-style: none;
      font-size: 16px;
      margin-block-start: 0.5rem;

      .contact {
        margin-block-start: 5rem;
      }
    }
  }
}

.hvr-fade:before {
  background-color: #fec545 !important;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: #ffffff !important;
}
.hvr-bounce-to-top:before {
  background-color: #fec545 !important;
  border-radius: 1rem;
}
.grid-services:hover {
  h3 {
    color: #060809;
  }
}
.myButton:active {
  background-color: #f5b726;
  transform: translateY(4px);
}


/* -------------------------MEDIA QUERY--------------------------- */

@media screen and (max-width: 36rem) {
  .navbar .mybtn {
    display: none;
  }

  .navbar,
  .myNav {
    max-width: 425px !important;
    width: 425px !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .dropdown-item {
    background: #ffffff !important;
  }

  nav a {
    text-decoration: none !important;
  }

  .nav-item a:hover {
    text-decoration: none !important;
  }

  .services {
    height: 275px;
    width: 415px !important;
    background: url(../images/BG\ ph.png);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-block-start: 3.0625rem;
    text-align: center;
    background-repeat: round;

    .servicesContent {
      color: #ffffff;
      width: 300px;
      height: 96px;
      margin-block-start: 31px;
      padding-inline-start: 0;
      padding-block-end: 0;

      h2 {
        height: 96px;
        font-size: 32px;
        width: 415px;
      }
    }
  }

  /* -----------------------OUR CORE VALUE--------------------------- */

  .coreValue {
    width: 425px;
    background: linear-gradient(#f5fffb, #e7fafd);
    /* background-image: url(../images/Asset\ 4\ 1.png); */
    margin-block-start: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .values {
      p {
        width: 29.1875rem;
        height: 10.625rem;
        font-size: 2.625rem;
        color: #0f172a;
        margin-block-end: 3.125rem;
        text-align: center;
      }
    }

    h2 {
      display: none;
      font-size: 2.625rem;
      color: #1e293b;
      margin-block-end: 3.125rem;
      text-align: center;
    }

    .coreValue-bottom {
      display: grid;
      grid-template-columns: auto;
      gap: 22px;
      width: 353px;
      margin-block-start: 2rem;

      .innovation {
        background: #ffffff;
        width: 317px;
        height: 215px;
        border-radius: 1.25rem;
        display: flex;
        flex-direction: column;
        padding-block-end: 51px;
        padding-block-start: 36px;
        padding-inline-start: 54px;
        padding-inline-end: 53px;

        h3 {
          margin-block-end: 22px;
          width: 295px;
        }

        p {
          width: 210px;
          height: 72px;
          font-size: 1rem;
          color: #475569;
        }
      }
    }

  }


  /* -----------------------Say hello to our team members----------------------------- */

    .teamMembers {
      width: 375px;
      margin-block-start: 32px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-inline: 21px;

      .top {
        height: 269px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-inline: 0;
        align-items: center;
        align-content: center;
        margin-block-end: 50px;
        margin-block-start: 25px;

        h2 {
          font-size: 32px;
          color: #0f172a;
          width: 343px;
          height: 135px;
          text-align: center;
          margin-block-end: 13px;
          line-height: 43px;
        }
        p {
          font-size: 1.125rem;
          color: #475569;
          width: 343px;
          text-align: center;
          margin-block-end: 24px;
        }

        .myDiv {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          align-content: center;
        }

        button {
          border: none;
          font-size: 1rem;
          color: #0e0d0d;
          background: #fec545;
          width: 136px;
          height: 44px;
          border-radius: 1rem;
        }
      }

      .teamMembersCarousel {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        gap: 1.5rem;
        justify-content: center;
        margin-block-end: 0;

        .members {
          img {
            width: 351px;
            height: 296px;
            margin-block-end: 24px;
          }

          .name-div {
            width: 353px;
            height: 30px;
            /* border: 1px solid #01b2a4;
        border-radius: 1.1875rem; */
            margin-block-end: 4px;

            p {
              /* padding-inline: 1rem; */
              width: 353px;
              height: 24px;
              color: #060606;
              font-size: 1.25rem;
            }
          }

          .job-role {
            color: #6c7c94;
            font-size: 1rem;
          }
          .staff {
            color: #475467;
            margin-block-end: 1.5rem;
          }

          .socialIcons {
            display: flex;
            gap: 1rem;
            a img {
              width: 1.5rem;
              height: 1.5rem;
            }
          }
        }
      }
      .bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-inline: 0;

        .icons {
          display: none;
          width: 9.5rem;
          gap: 1.5rem;
        }
      }
    }

    .footer-ph{
      .myP{
        width: 343px;
        height: 48px;
        font-size: 16px;
        color: #475467;
      }
      .top{
        margin-block-end: 40px;
        ul li{
          list-style: none;
          font-size: 16px;
          color: #475467;
    
          a{
            text-decoration: none;
            color: #475467;
          }
        }
    
      }
    }
     
    .footer{
      display: none;
    }

    .hvr-underline-from-left:before {
      background: #fec545 !important;
      width: 0;
    }
  .hvr-fade:before {
      background-color: #fec545 !important;
    }
    .dropdown-menu {
      --bs-dropdown-link-active-bg: #ffffff !important;
    }
    .hvr-bounce-to-top:before {
      background-color: #fec545 !important;
      border-radius: 1rem;
    }
    .grid-services:hover {
      h3 {
        color: #060809;
      }
    }
    .myButton:active {
      background-color: #f5b726;
      transform: translateY(4px);
    }
}

@media screen and (min-width: 1024px) {
  .services {
    height: 14.75rem;
    /* width: 76.3125rem; */
    background: url(../images/BG3.png);
    align-items: center;
    align-content: center;
    margin-block-start: 3.0625rem;
    text-align: center;

    .servicesContent {
      color: #ffffff;
      width: 43.375rem;
      height: 19.3125rem;
      padding-inline-start: 50%;
      padding-block-end: 10%;

      h2 {
        height: 4.125rem;
        font-size: 3.625rem;
        width: 50.875rem;
      }
    }
  }

  /* -----------------------OUR CORE VALUE--------------------------- */

  .coreValue {
    height: 35rem;
    background: linear-gradient(#f5fffb, #e7fafd);
    /* background-image: url(../images/Asset\ 4\ 1.png); */
    margin-block-start: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .values {
      p {
        width: 29.1875rem;
        height: 10.625rem;
        font-size: 2.625rem;
        color: #0f172a;
        margin-block-end: 3.125rem;
        text-align: center;
      }
    }

    h2 {
      font-size: 2.625rem;
      color: #1e293b;
      margin-block-end: 3.125rem;
      text-align: center;
    }

    .coreValue-bottom {
      display: grid;
      grid-template-columns: auto auto auto auto;
      gap: 1.375rem;

      .innovation {
        background: #ffffff;
        width: 17.625rem;
        height: 13.4375rem;
        border-radius: 1.25rem;
        display: flex;
        flex-direction: column;
        padding-inline: 36px;
        padding-block-start: 36px;
        padding-block-end: 51px;

        h3 {
          margin-block-end: 22px;
        }

        p {
          width: 13.125rem;
          height: 4.5rem;
          font-size: 1rem;
          color: #475569;
        }
      }
    }
  }

  /* -----------------------Say hello to our team members----------------------------- */

  .teamMembers {
    .top {
      display: flex;
      justify-content: space-between;
      margin-inline: 2.6875rem;
      margin-block-start: 5.25rem;
      margin-inline: 6.4375rem;
      align-items: center;
      margin-block-end: 2.25rem;

      h2 {
        font-size: 2.625rem;
        color: #0f172a;
        /* width: 26.0625rem; */
        height: 7.0625rem;
      }
      p {
        font-size: 1.125rem;
        color: #475569;
        width: 33.375rem;
        height: 8.1875rem;
        margin-block-end: 0;
      }

      button {
        border: none;
        font-size: 1rem;
        color: #0e0d0d;
        background: #fec545;
        width: 8.5rem;
        height: 2.75rem;
        border-radius: 1rem;
      }
    }

    .teamMembersCarousel {
      display: flex;
      gap: 1.5rem;
      justify-content: center;
      margin-block-end: 2.9375rem;

      .members {
        img {
          width: 19.5rem;
          height: 19.9375;
          margin-block-end: 1.5rem;
        }

        .name-div {
          width: 9.8125rem;
          height: 2.5rem;
          /* border: 1px solid #01b2a4;
        border-radius: 1.1875rem; */
          margin-block-end: 0.5rem;

          p {
            /* padding-inline: 1rem; */
            color: #060606;
            font-size: 1.25rem;
          }
        }

        .job-role {
          color: #6c7c94;
          font-size: 1rem;
        }
        .staff {
          color: #475467;
          margin-block-end: 1.5rem;
        }

        .socialIcons {
          display: flex;
          gap: 1rem;
          a img {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
      }
    }
    .bottom {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-inline: 3.75rem;

      .icons {
        width: 9.5rem;
        gap: 1.5rem;
        display: flex;
        flex-direction: row;
      }
    }
  }

  .footer-ph{
    display: none;
  }

  .footer {
    background: #ffffff;
    padding-block: 2.5rem;
    padding-inline: 3rem;
    display: grid;
    grid-template-columns: auto auto;
    margin-inline: 2.40625rem;
    margin-block-end: 76px !important;
    border-radius: 20px;
    border: 0.25rem solid #edeff1;

    .top {
      margin-block-end: 1.875rem;
    }

    .left-end {
      p {
        width: 492px;
        height: 72px;
        font-size: 16px;
        color: #64748b;
        margin-block-end: 10%;
      }

      span {
        width: 336px;
        height: 24px;
        font-size: 14px;
        color: #667085;
      }
    }

   
    .footerlist {
      display: grid;
      grid-template-columns: auto auto auto;

      ul li {
        list-style: none;
        font-size: 16px;
        margin-block-start: 0.5rem;

        .contact {
          margin-block-start: 5rem;
        }

        a {
          text-decoration: none;
          font-size: 16px;
          color: #0b0d14;
        }
      }
    }
  }


  /* ----------------HOVER EFFECTS-------------------- */
.hvr-underline-from-left:before {
  background: #fec545 !important;
  
}
.hvr-fade:before {
  background-color: #fec545 !important;

}
.dropdown-menu {
  --bs-dropdown-link-active-bg: #ffffff !important;
}
.hvr-bounce-to-top:before {
  background-color: #fec545 !important;
  border-radius: 1rem;
}
.grid-services:hover {
  h3 {
    color: #060809;
  }
}
.myButton:active {
  background-color: #f5b726;
  transform: translateY(4px);
}
}
