@font-face {
  font-family: "Inter medium";
  src: url(../assets/Fonts/Inter_28pt-Medium.ttf);
}
@font-face {
  font-family: "Semi bold";
  src: url(../assets/Fonts/Inter_28pt-SemiBold.ttf);
}

@font-face {
  font-family: "Extra bold";
  src: url(../assets/Fonts/Inter_28pt-ExtraBold.ttf);
}
@font-face {
  font-family: "Regular";
  src: url(../assets/Fonts/Inter_28pt-Regular.ttf);
}
@font-face {
  font-family: "Bold";
  src: url(../assets/Fonts/Inter_28pt-Bold.ttf);
}
.inter-medium {
  font-family: "Inter medium";
}
.inter-regular {
  font-family: " Regular";
}

.inter-semibold {
  font-family: "Semi bold";
}

.inter-extrabold {
  font-family: "Extra bold";
}
.inter-bold {
  font-family: "Bold";
}

body {
  background: #ffffff;
  /* margin: 0rem 6.84rem 0rem 6.84rem; */
}

.navbar {
  height: 5rem;
  background: #ffffff;
  height: 80px;
  bottom: 0;
}

.navbar {
  .nav-item {
    a {
      font-size: 1rem;
      color: #0b0d14;
    }
  }
  .mybtn {
    font-size: 1rem;
    color: #0e0d0d;
    width: 13.375rem;
    height: 2.75rem;
    border-radius: 1rem;
    background: #fec545;
    border: none;
  }
  li a img {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.card-body span img{
  width: 20px;
  height: 20px;
  margin-inline-start: 6px;
}



.hvr-underline-from-left:before {
  background: #fec545 !important;
}
.hvr-fade:before {
  background-color: #fec545 !important;
}
.dropdown-menu {
  --bs-dropdown-link-active-bg: #ffffff !important;
}
.hvr-bounce-to-top:before {
  background-color: #fec545 !important;
  border-radius: 1rem;
}
.grid-services:hover {
  h3 {
    color: #060809;
  }
}
.myButton:active {
  background-color: #f5b726;
  transform: translateY(4px);
}

@media screen and (max-width: 36rem) {
  .navbar .mybtn {
    display: none;
  }

  .navbar,
  .myNav {
    margin-right: 0 !important;
    margin-left: 0 !important;
    background: #ffffff;
  }

  .dropdown-item {
    background: #ffffff !important;
  }

  nav a {
    text-decoration: none !important;
  }

  .nav-item a:hover {
    text-decoration: none !important;
  }


  /* ---------------------------OUR VALUES--------------------------------------- */
  .services {
    height: 12.5625rem;
    background: url(../images/BG25.png);
    background-repeat: round;
    margin-block-start: 4.3rem;
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;

    .servicesContent {
      color: #ffffff;
      height: 26.5625rem;
      display: flex;
      justify-content: center;
      gap: 0.5rem;

      h2 {
        height: 1.75rem;
        font-size: 2.25rem;
        width: 18.75rem;
        margin-block-start: 1rem;
      }

      p {
        font-size: 1rem;
        width: 22rem;
      }
    }
  }


  .ourSolution {
    margin-block-start: 3.875rem;
    margin-block-end: 8.75rem;
    .solImg {
      height: 2.625rem;
      width: 8.9375rem;
      margin-block-end: 1rem;
    }
    h3 {
      font-size: 2rem;
      color: #181818;
      width: 22rem;
    }
    .card {
      border-radius: 1rem;
      width: 20.0625rem;
      img {
        border-radius: 1rem 1rem 0 0;
      }
  
      .payleads {
        font-size: 1rem;
        color: #1e293b;
      }
      .viewProject {
        font-size: 1rem;
        color: #666666;
      }
  
      p {
        font-size: 1rem;
        color: #475569;
      }
      .btn {
        color: #0099cc;
        font-size: 0.5rem;
      }
    }
    .card{
      margin-block-start: 1rem;
      margin-inline: 12%;
    }
  }

  .footer {
    display: none;
  }

  .footer-ph {
    margin-block-start: 36px;
    border: 0.25rem solid #edeff1;
    border-radius: 2rem;
    border-left: none;
    border-right: none;
    border-bottom: none;
    
    .myP {
      width: 343px;
      height: 48px;
      font-size: 16px;
      color: #475467;
    }
    .top {
      margin-block-end: 40px;
      ul li {
        list-style: none;
        font-size: 16px;
        color: #475467;

        a {
          text-decoration: none;
          color: #475467;
        }
      }
    }
  }

  .hvr-underline-from-left:before {
    background: #fec545 !important;
    width: 0;
  }
  .hvr-fade:before {
    background-color: #fec545 !important;
  }
  .dropdown-menu {
    --bs-dropdown-link-active-bg: #ffffff !important;
  }
  .hvr-bounce-to-top:before {
    background-color: #fec545 !important;
    border-radius: 1rem;
  }
  .grid-services:hover {
    h3 {
      color: #060809;
    }
  }
  .myButton:active {
    background-color: #f5b726;
    transform: translateY(4px);
  }
}

@media screen and (min-width: 64rem) {
  /* ---------------------------OUR VALUES--------------------------------------- */
.services {
  height: 12.5625rem;
  background: url(../images/PBG.png);
  margin-block-start: 6rem;
  align-items: center;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;

  .servicesContent {
    color: #ffffff;
    width: 43.375rem;
    height: 19.3125rem;
    display: flex;
    justify-content: center;
    gap: 2.1rem;

    h2 {
      height: 4.125rem;
      font-size: 3.625rem;
      width: 50.875rem;
    }

    p {
      font-size: 1rem;
      width: 33rem;
    }
  }
}

.ourSolution {
  margin-block-start: 4.875rem;
  margin-block-end: 8.75rem;
  .solImg {
    height: 3.625rem;
    width: 10.9375rem;
  }
  h3 {
    font-size: 4rem;
    color: #181818;
    width: 38rem;
  }
  .card {
    border-radius: 1.5rem;
    width: 34.125rem;
    img {
      border-radius: 1.5rem 1.5rem 0 0;
    }

    .payleads {
      font-size: 1.5rem;
      color: #1e293b;
    }
    .viewProject {
      font-size: 1.25rem;
      color: #666666;
    }

    p {
      font-size: 1rem;
      color: #475569;
    }
    .btn {
      color: #0099cc;
      font-size: 0.75rem;
    }
  }
}
  /* ------------------------FOOTER------------------------ */

  .footer {
    background: #ffffff;
    padding-block: 2.5rem;
    padding-inline: 3rem;
    display: grid;
    grid-template-columns: auto auto;
    margin-inline: 2.40625rem;
    margin-block-end: 4.75rem !important;
    border-radius: 1.25rem;
    border: 0.25rem solid #edeff1;
  
    .top {
      margin-block-end: 1.875rem;
    }
  
    .left-end {
      p {
        width: 30.75rem;
        height: 4.5rem;
        font-size: 1rem;
        color: #64748b;
        margin-block-end: 10%;
      }
  
      span {
        width: 21rem;
        height: 1.5rem;
        font-size: 0.875rem;
        color: #667085;
      }
    }
  

    .footerlist {
      display: grid;
      grid-template-columns: auto auto auto;
  
      ul li {
        list-style: none;
        font-size: 1rem;
        margin-block-start: 0.5rem;
  
        .contact {
          margin-block-start: 5rem;
        }
  
        a {
          text-decoration: none;
          font-size: 1rem;
          color: #0b0d14;
        }
      }
    }
  }

  .footer-ph {
    display: none;
  }
}
